@use "variables" as v;

body {
  font-family: "Poppins", sans-serif;
  background-color: v.$bodybgcolor;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 2px 2px #000;
}

header {
  text-align: center;
  font-weight: 100;

  h1 {
    font-size: 70px;
    font-weight: 200;
    text-transform: uppercase;
  }
  h3 {
    font-weight: 100;
  }
}

nav {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;

  a {
    text-decoration: none;
    color: #fff;

    padding: 10px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.25);
      width: 100%;
      text-align: center;
      /*transition: 0.4s ease;
      font-size: 20px; */
    }
  }
}

main {
  font-weight: 100;
}
article {
  text-align: center;
  margin-top: 3rem;
  overflow: hidden;
  font-weight: 100;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  margin: 15px;
  padding-bottom: 20px;

  h3 {
    font-size: 60px;
    font-weight: 100;
  }

  h5 {
    font-weight: 100;
  }

  .img {
    width: 300px;
    height: 400px;
    object-fit: contain;
  }
}

section {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  margin: 15px;
  text-align: center;
  padding-top: 10px;

  h3 {
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    margin: 0;

    p {
      padding: 2em;
    }
  }
}
